// SCSS file for the About page.
.about-intro {
    padding: 0 25% 10% 25%;
    .title { padding: 10% 0 0 0; }
    p { padding: 5% 0 10% 0; }
}

.skills-container {
    padding: 10% 25%;
    background-color: var(--black);
    color: var(--white);

    .skills-content {
        grid-column: 2;

        .list-of-skills {
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-column-gap: 10%;
        }
    }
}

.playground-container {
    grid-column: 2;
    padding: 5% 0;

    p { padding: 10px 25% 0 25%; }

    .showcases {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 0 25%;

        .showcase-container { 
            padding: 5vh 0;

            p { padding: 0; }
        }
    }
}

// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    .practices-container { grid-template-columns: 1fr 4fr 1fr; }

    .skills-container {
        grid-template-columns: 1fr 4fr 1fr;
        
        .skills-content {
            .list-of-skills {
                padding-top: 5%;
                grid-template-columns: 1fr;
            }
        }
    }
    .playground-container {
        .showcases { grid-template-columns: 1fr; }
    }
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}