$white: #FFF;
$dark-grey: #0B131D;
$purple: #420FE7;
$mid-purple: #574CF2;
$light-purple: #c3c4fc;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    --white: #{$white};
    --dark-grey: #{$dark-grey};
    --purple: #{$purple};
    --mid-purple: #{$mid-purple};
    --light-purple: #{$light-purple};
    --default-font-size: 18px;

    line-height: 160%;
    font-family: 'Averta';
    color: var(--white);
}

@font-face {
    font-family: 'SSProReg';
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: 'SSProBold';
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'NoahReg';
    src: url("../fonts/Noah/TTF/Noah\ Head\ Regular.otf");
}

@font-face {
    font-family: 'NoahBold';
    src: url("../fonts/Noah/TTF/Noah\ Head\ Bold.otf");
}

@font-face {
    font-family: 'NotoSansJP';
    src: url("../fonts/Noto_Sans_JP/static/NotoSansJP-Regular.ttf");
}

@font-face {
    font-family: 'NotoSansJPBold';
    src: url("../fonts/Noto_Sans_JP/static/NotoSansJP-Bold.ttf");
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../fonts/Averta/averta-bold.otf");
}

p {
    padding: 15px 0;
    font-size: var(--default-font-size);
    color: var(--light-purple);
}

h1, h2, h3 {
    font-family: 'AvertaBold';
    color: var(--white);
}

p, a, svg {
    font-family: 'Averta';
}


// Splash screen
.splash-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: splash_screen_fadeOut ease;
    animation-duration: 3s;
    animation-delay: 3s;

    .loader {
        --path: #2F3545;
        --dot: #5628EE;
        --duration: 3s;
        width: 44px;
        height: 44px;
        position: relative;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--dot);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }
        svg {
            display: block;
            width: 100%;
            height: 100%;
            circle {
                fill: none;
                stroke: var(--path);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
                stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
                stroke-dashoffset: 75;
                animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }
    }

    @keyframes dotRect {
        25% { transform: translate(0, 0); }
        50% { transform: translate(18px, -18px); }
        75% { transform: translate(0, -36px); }
        100% { transform: translate(-18px, -18px); }
    }

    @keyframes pathCircle {
        25% { stroke-dashoffset: 125; }
        50% { stroke-dashoffset: 175; }
        75% { stroke-dashoffset: 225; }
        100% { stroke-dashoffset: 275; }
    }

    @keyframes splash_screen_fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
}


// App container layout
.app-container {
    display: grid;
}


// Background styling (blue bg with white stripes)
.app-background {
    grid-row: 1;
    grid-column: 1;
    z-index: 1;
    display: grid;
    grid-template-columns: 1.25fr repeat(4, 1.75fr) 1.25fr;

    .col {
        background-color: var(--purple);
        border-right: 1px solid var(--mid-purple);
    }
}


// Actual app content wrapper
.app {
    grid-row: 1;
    grid-column: 1;
    z-index: 2;
    display: grid;
    grid-template-rows: auto 1fr auto;
    grid-template-columns: 1.25fr repeat(4, 1.75fr) 1.25fr;
}


// Topnav CSS
.topnav-container {
    // grid-area: header;
    height: 20vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
    grid-row: 1;
    grid-column: 2 / 6;      // Align with background
    
    .home-icon {
        text-decoration: none;
        font-size: 1.8rem;
        color: var(--white);
    }

    .topnav-link {
        margin-left: 30px;
        text-decoration: none;
        color: var(--white);

        &.text {
            font-size: 0.95rem;
        }
    }

    .topnav-menu {
        .topnav-icon {
            font-size: var(--p-large);
            color: var(--white);
        }
    }
}

.main-container {
    grid-row: 2;
    grid-column: 2 / 6;      // Align with background
}

.homepage {
    display: grid;
    grid-template-columns: repeat(4, 25%);
}


// Botnav CSS
.botnav-container {
    height: 40vh;
    grid-row: 3;
    grid-column: 2 / 6;      // Align with background
    display: flex;
    flex-direction: column;
    justify-content: center;
}