$white: #FFF;
$black: #000;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    --white: #{$white};
    --black: #{$black};
}


@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../fonts/Averta/averta-bold.otf");
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}