// SCSS file for App.js
$white: #FFF;
$black: #1A1C1D;
$dark-grey: #2c2c2c;
$purple: #420FE7;
$light-purple: #4b19ec;
$white-purple: #EBEAEE;
$orange: #f07e6e;


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


:root {
    --white: #{$white};
    --white-purple: #{$white-purple};
    --black: #{$black};
    --dark-grey: #{$dark-grey};
    --purple: #{$purple};
    --orange: #{$orange};

    cursor: none;
    color: var(--dark-grey);
}



@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'Averta';
    src: url("../fonts/Averta/averta-regular.otf");
}

@font-face {
    font-family: 'AvertaBold';
    src: url("../fonts/Averta/averta-bold.otf");
}

p {
    line-height: 160%;
    font-size: 18px;
    font-family: 'Averta';
}

span {
    &.orange { color: var(--orange);}
    &.purple { color: var(--purple);}
}


// Scrollbar
::-webkit-scrollbar {
    width: 14px;
    background-color: transparent;

    &:hover { background-color: var(--light-purple);}
}
  
::-webkit-scrollbar-track {
    border: solid 3px transparent;
    background: var(--white-purple);
}
  
::-webkit-scrollbar-thumb {
    background-color: var(--purple);
    border-radius: 10px;
    border: solid 3px transparent;
    background-clip: content-box;
}


// Splash screen animation
.splash-screen {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    animation: splash_screen_fadeOut ease;
    animation-duration: 3s;
    animation-delay: 3s;

    .loader {
        --path: #2F3545;
        --dot: #5628EE;
        --duration: 3s;

        width: 44px;
        height: 44px;
        position: relative;
        &:before {
            content: '';
            width: 6px;
            height: 6px;
            border-radius: 50%;
            position: absolute;
            display: block;
            background: var(--dot);
            top: 37px;
            left: 19px;
            transform: translate(-18px, -18px);
            animation: dotRect var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
        }
        svg {
            display: block;
            width: 100%;
            height: 100%;
            circle {
                fill: none;
                stroke: var(--path);
                stroke-width: 10px;
                stroke-linejoin: round;
                stroke-linecap: round;
                stroke-dasharray: (200 / 4 * 3) (200 / 4) (200 / 4 * 3) (200 / 4);
                stroke-dashoffset: 75;
                animation: pathCircle var(--duration) cubic-bezier(0.785, 0.135, 0.15, 0.86) infinite;
            }
        }
    }

    @keyframes dotRect {
        25% { transform: translate(0, 0); }
        50% { transform: translate(18px, -18px); }
        75% { transform: translate(0, -36px); }
        100% { transform: translate(-18px, -18px); }
    }

    @keyframes pathCircle {
        25% { stroke-dashoffset: 125; }
        50% { stroke-dashoffset: 175; }
        75% { stroke-dashoffset: 225; }
        100% { stroke-dashoffset: 275; }
    }

    @keyframes splash_screen_fadeOut {
        0% { opacity: 1; }
        100% { opacity: 0; }
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {
    p {
        line-height: 140%;
        font-size: 14px;
    }
}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}