*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

:root {
    --black: #000;
    --white: #fff;
    --dark-grey: #0b131d;
    --pink: #bdf523;
    --purple: #420FE7;
    --light-purple: #bdbef7;
    --pale-purple: #bdbef781;

    --p-large: calc(10px + 0.85vw);
    --p-mid: calc(10px + 0.55vw);
    --h1-large: calc(25px + 4vw);
    --h1-mid: calc(20px + 3vw);
    --h1-small: calc(15px + 2vw);
    --h1-e-small: calc(10px + 1.5vw);
}

@font-face {
    font-family: 'SSProReg';
    src: url("../fonts/SourceSansPro/SourceSansPro-Regular.ttf");
}

@font-face {
    font-family: 'SSProBold';
    src: url("../fonts/SourceSansPro/SourceSansPro-Bold.ttf");
}

@font-face {
    font-family: 'InterReg';
    src: url("../fonts/Inter/static/Inter-Regular.ttf");
}

@font-face {
    font-family: 'InterBold';
    src: url("../fonts/Inter/static/Inter-Bold.ttf");
}

@font-face {
    font-family: 'NoahReg';
    src: url("../fonts/Noah/TTF/Noah\ Head\ Regular.otf");
}

@font-face {
    font-family: 'NoahBold';
    src: url("../fonts/Noah/TTF/Noah\ Head\ Bold.otf");
}

p {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* CSS for app container layout */
.app {
    width: 100%;
    height: 100%;
    background-color: var(--purple);
}

/* Topnav CSS */
.topnav {
    position: fixed;
    top: 0;
    width: 100%;
    height: 200px;
    padding: 0 5%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 10;
}

.topnav > a {
    text-decoration: none;
    font-family: 'InterBold';
    font-size: 1.8rem;
    color: var(--white);
}

.topnav-menu > a {
    position: relative;
    margin: 0 10px;
}

.topnav-menu > a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 1px;
    border-radius: 4px;
    background-color: #18272F;
    bottom: 0;
    left: 0;
    top: 25px;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform .3s ease-in-out;
}

.topnav-menu > a:hover::before {
    transform-origin: left;
    transform: scaleX(1);
}

/* Botnav CSS */
.botnav {
    height: 10vh;
    text-align: center;
    color: var(--white);
}

.botnav > p {
    margin-bottom: 10px;
}

.botnav > .anchor {
    margin: 5px 15px;
    transition: all .25s ease;
    font-size: var(--p-mid);
    color: var(--white);
}

.botnav > .anchor:hover {
    color: var(--pink);
}

/* Homepage CSS */
.landing-grid {
    width: 100%;
}

.landing-grid > div > .intro {
    font-family: 'SSProReg';
    font-size: var(--p-large);
    color: var(--pink);
}

.landing-grid > div > .intro-title {
    font-family: 'NoahBold';
    font-size: var(--h1-large);
    color: var(--white);
}

.landing-grid > div > .about {
    width: 40%;
    margin-right: 10%;
    float: right;
    line-height: 180%;
    font-family: 'InterReg';
    font-size: var(--p-mid);
    color: var(--light-purple);
}

.landing-grid > div > .about > .email-cpy {
    padding: 20px 40px;
    outline: 1px solid var(--grey);
}



/* Handling mobile responsiveness */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
    .landing-container > .intro-grid {
        grid-template-columns: 100%;
    }    

    .intro-container {
        padding: 0 12.5%;
        grid-template-columns: 100%;
    }

    .intro-container > .skillset {
        margin: 5vh 0;
    }
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) { }

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }