// CSS File for React.js components
// Container.js react component
.container {
    padding: 0 10%;

    // Landing section CSS
    &#landing {
        padding: 10vh 15vw;
        display: flex;
        flex-direction: column;
        justify-content: center;
    
        .intro {
            font-family: 'InterReg';
            font-size: var(--p-small);
            color: var(--dark-grey);
        }

        .intro-title {
            width: 80%;
            font-family: 'NoahBold';
            font-size: var(--h1-large);
            color: var(--dark-grey);
        }

        .work-grid {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            grid-template-rows: repeat(2, auto);
            grid-column-gap: 5%;
            grid-row-gap: 10px;

            .exp-wrapper {
                &:nth-child(1) {
                    grid-column: 1 / 4;
                    grid-row: 1;
                }

                &:nth-child(2) {
                    grid-column: 4 / 6;
                    grid-row: 1;
                }

                &:nth-child(3) {
                    grid-column: 1 / 3;
                    grid-row: 2;
                }

                &:nth-child(4) {
                    grid-column: 3 / 6;
                    grid-row: 2;
                }
            }
        }
    }

    // Contacts CSS
    &#contacts {
        height: 100vh;
        display: flex;
        align-items: center;

        .contacts-container {
            margin-left: 45%;
        
            .contacts-title { margin-bottom: 3%; }
            
            .contacts-text {
                line-height: 200%;
                font-size: var(--p-mid);

                .reach-out {
                    width: 70%;
                    margin: 3vh 0;
                    padding: 2vh 2vw;
                    display: flex;
                    align-items: center;
                    transition: all .25s ease-in-out;
                    border: 1px solid var(--dark-grey);
                    font-family: 'SSProReg';
                    font-size: var(--p-mid);
                    background-color: transparent;
                    color: var(--dark-grey);

                    &:hover {
                        transition: all .25s ease-in-out;
                        border: 1px solid var(--purple);
                        background-color: var(--purple);
                        color: var(--white);

                        span {
                            transition: all .25s ease-in-out;
                            color: var(--white);
                        }
                    }

                    p { margin-left: 5%; }

                    span {
                        width: 100%;
                        display: flex;
                        justify-content: space-between;
                        align-items: center;
                        transition: all .25s ease-in-out;

                        .click-to-copy {
                            transition: all .25s ease-in-out;
                            color: var(--light-grey);
                        }
                    }

                    &.email { cursor: pointer;}
                }
            }
        }
    }
}


// Tech stack component CSS
.tech-stack {
    word-break: break-all;

    span {
        display: inline-block;
        margin: 5px 5px 5px 0;
        white-space: nowrap;
        border-radius: 6px;
        padding: 3px 10px;
        font-family: 'Inter';
        background-color: var(--purple);
        color: var(--white);
    }    
}


// Anchor CSS
.anchor {
    transition: color 0.2s ease;
    color: var(--purple);
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) { }

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    .container {
        &#landing {
            div {
                .about {
                    margin-top: 10%;
                }
            }
        }
        &#contacts > .contacts-container {
            width: 80%;
            margin-left: 10%;
        }
    }
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    .container {
        &#landing {
            div {
                .intro-title { font-size: var(--h1-mid); }

                .about {
                    width: 80%;
                    margin-left: 10%;
                    margin-top: 15%;
                }
            }
        }

        &#experience-intro { height: 5vh; }

        &#work-experience {
            height: 120vh;
            grid-template-columns: 100%;
            grid-gap: 0;
        }

        &works {
            height: 100vh;
            grid-template-columns: 100%;
        }
    }
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) { }

// Custom, iPhone Retina
@media only screen and (max-width : 320px) { }