/* CSS File for React.js components */
/* Container.js react component */
.container {
    padding: 0 12.5%;
}

.container#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* About me section CSS */
.container#about-me-intro > h1 { margin-left: 10vw; }

.container#about-me {
    height: 60vh;
    margin-left: 10vw;
    line-height: 160%;
    font-family: 'InterReg';
    font-size: var(--p-mid);
    color: var(--light-purple);
}


/* "Work Experience" intro CSS */
.container#experience-intro { height: 15vh; }
.container#experience-intro > h1 { margin-left: 30vw; }

/* Work Experience Section - L4S work experience CSS */
.container#work-experience {
    width: 100%;
    height: 140vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    color: var(--light-purple);
}

/* Selected works section CSS */
.container#works-intro { height: 20vh; }

.container#works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
}

.selected-work { color: var(--light-purple); }
.selected-work > .project-title {
    font-family: 'InterBold';
    font-size: var(--p-large);
    color: var(--white);
}

/* Tech stack component CSS */
.tech-stack { word-break: break-all; }

.tech-stack > span {
    display: inline-block;
    margin: 5px 5px 5px 0;
    white-space: nowrap;
    border-radius: 6px;
    padding: 3px 10px;
    background-color: var(--light-purple);
    color: var(--purple);
}

/* Contacts CSS */
.container#contacts {
    height: 85vh;
    display: flex;
    align-items: center;
}

.container#contacts > .contacts-container { margin-left: 45%; }
.container#contacts > .contacts-container > .contacts-title { margin-bottom: 3%; }

.container#contacts > .contacts-container > .contacts-text {
    line-height: 200%;
    color: var(--light-purple);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out {
    width: 70%;
    margin: 3vh 0;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
    border: none;
    font-family: 'SSProReg';
    background-color: transparent;
    color: var(--white);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out.email { cursor: pointer;}

.container#contacts > .contacts-container > .contacts-text > .reach-out > p { margin-left: 5%; }


/* Anchor CSS */
.anchor {
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--dark-grey);
}


/* Handling mobile responsiveness */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) { }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }