/* CSS File for React.js components */
/* Container.js react component */
.container {
    padding: 0 10%;
}

.container#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.container#landing > div > .intro {
    font-family: 'InterReg';
    font-size: var(--p-large);
    color: var(--dark-grey);
}

.container#landing > div > .intro-title {
    width: 80%;
    font-family: 'NoahBold';
    font-size: var(--h1-large);
    color: var(--dark-grey);
}

.container#landing > div > .about {
    width: 40%;
    float: right;
    line-height: 180%;
    font-family: 'InterReg';
    font-size: var(--p-mid);
    color: var(--light-purple);
}

.container#landing > div > .about > .email-cpy {
    padding: 20px 40px;
    outline: 1px solid var(--grey);
}

/* About me section CSS */
.container#about-me {
    width: 80%;
    height: 80vh;
    margin: 0 10%;
    line-height: 160%;
    font-family: 'InterReg';
    font-size: var(--p-mid);
    color: var(--light-purple);
}


/* "Work Experience" intro CSS */
.container#experience-intro { height: 15vh; }
.container#experience-intro > h1 { margin-left: 30vw; }

/* Work Experience Section - L4S work experience CSS */
.container#work-experience {
    width: 100%;
    height: 90vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 10%;
}

/* Selected works section CSS */
.container#works-intro {
    height: 15vh;
    margin-left: 10%;
}

.container#works {
    height: 50vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
}


/* Tech stack component CSS */
.tech-stack { word-break: break-all; }

.tech-stack > span {
    display: inline-block;
    margin: 5px 5px 5px 0;
    white-space: nowrap;
    border-radius: 6px;
    padding: 3px 10px;
    font-family: 'Inter';
    background-color: var(--purple);
    color: var(--white);
}


/* Contacts CSS */
.container#contacts {
    height: 85vh;
    display: flex;
    align-items: center;
}

.container#contacts > .contacts-container { margin-left: 45%; }
.container#contacts > .contacts-container > .contacts-title { margin-bottom: 3%; }

.container#contacts > .contacts-container > .contacts-text {
    line-height: 200%;
    font-size: var(--p-mid);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out {
    width: 70%;
    margin: 3vh 0;
    padding: 2vh 2vw;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
    border: 1px solid var(--dark-grey);
    font-family: 'SSProReg';
    font-size: var(--p-mid);
    background-color: transparent;
    color: var(--dark-grey);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out:hover {
    border: 1px solid var(--purple);
    background-color: var(--purple);
    color: var(--white);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out.email { cursor: pointer;}

.container#contacts > .contacts-container > .contacts-text > .reach-out > p { margin-left: 5%; }


/* Anchor CSS */
.anchor {
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--dark-grey);
}


/* Handling mobile responsiveness */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) { }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }