// CSS File for React.js components
// Container.js react component
.twocol-container {
    display: grid;
}


// HugeTitle.js react component
.huge-title {
    font-family: 'AvertaBold';
    // font-weight: bold;
    font-size: 6vw;
    line-height: 6.5vw;
}


// Subtitle.js react component
.subtitle {
    font-family: 'AvertaBold';
    font-size: 2vw;
    line-height: 2vw;
}


// Anchor.js react component
.anchor {
    margin-left: 30px;
    text-decoration: none;
    font-family: 'AvertaBold';
    font-size: 1.8rem;
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 0.95rem;
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) { }

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) { }

// Custom, iPhone Retina
@media only screen and (max-width : 320px) { }