/* CSS File for React.js components */
/* spans */
.span {
    color: var(--pink);
}

.span.underline {
    border-bottom: 1px solid var(--pink);
}

/* Container.js react component */
.container {
    padding: 0 12.5%;
}

.container#landing {
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* About me section CSS */
.container#about-me-intro > h1 {
    margin-left: 10vw;
    font-family: 'NoahBold';
    font-size: var(--h1-mid);
    color: var(--white);
}

.container#about-me {
    height: 60vh;
    margin-left: 10vw;
    line-height: 160%;
    font-family: 'InterReg';
    font-size: var(--p-mid);
    color: var(--light-purple);
}


/* "Work Experience" intro CSS */
.container#experience-intro {
    height: 15vh;
}

.container#experience-intro > h1 {
    margin-left: 30vw;
    font-family: 'NoahBold';
    font-size: var(--h1-mid);
    color: var(--white);
}

/* Look4SchoolsUK Section CSS */
.container#look4schoolsuk {
    width: 100%;
    height: 130vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
    color: var(--light-purple);
}

.container#look4schoolsuk > div > .exp-wrapper {
    border: 1px solid var(--light-purple);
}

.container#look4schoolsuk > div > .exp-wrapper:nth-child(1) {
    grid-row: 1 / 5;
}
.container#look4schoolsuk > div > .exp-wrapper:nth-child(2) {
    grid-row: 2 / 5;
}

.container#look4schoolsuk > div > .exp-wrapper > img {
    max-width: 100%;
    max-height: 100%;
    object-fit: contain;
}

.container#look4schoolsuk > div > .exp-wrapper > video {
    width: 100%;
}

.container#look4schoolsuk > div > .exp-wrapper > .exp-content {
    padding: 5%;
}

.container#look4schoolsuk > div > .exp-wrapper > .exp-content > h1 {
    font-family: 'NoahBold';
    font-size: var(--h1-small);
    color: var(--white);
}

.container#look4schoolsuk > div > .exp-wrapper > .exp-content > span, p {
    font-size: var(--p-mid);
}

.container#look4schoolsuk > div > .exp-wrapper > .exp-content > span {
    padding: 10px 0;
    color: var(--white);
}

.container#look4schoolsuk > div > .exp-wrapper > .exp-content > .tech-stack {
    margin-top: 5%;
}


/* Selected works section CSS */
.container#works-intro {
    height: 20vh;
}

.container#works-intro > h1 {
    font-family: 'NoahBold';
    font-size: var(--h1-mid);
    color: var(--white);
}

.container#works {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-column-gap: 5%;
}

.selected-work {
    color: var(--light-purple);
}

.selected-work > .project-title {
    font-family: 'InterBold';
    font-size: var(--p-large);
    color: var(--white);
}

/* Tech stack component CSS */
.tech-stack {
    word-break: break-all;
}

.tech-stack > span {
    display: inline-block;
    margin: 5px;
    white-space: nowrap;
    border-radius: 6px;
    padding: 3px 10px;
    background-color: var(--light-purple);
    color: var(--purple);
}

/* Contacts CSS */
.container#contacts { height: 80vh; display: flex; align-items: center;}
.container#contacts > .contacts-container {
    margin-left: 50%;
}

.container#contacts > .contacts-container > .contacts-title {
    margin-bottom: 5vh;
}

.container#contacts > .contacts-container > .contacts-title > h1 {
    font-family: 'NoahBold';
    font-size: var(--h1-small);
    color: var(--white);
} 

.container#contacts > .contacts-container > .contacts-text {
    line-height: 200%;
    color: var(--light-purple);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out {
    width: 70%;
    margin: 3vh 0;
    padding: 3% 6%;
    display: flex;
    align-items: center;
    transition: all .25s ease-in-out;
    cursor: pointer;
    border: 1px solid var(--pink);
    font-family: 'SSProReg';
    background-color: transparent;
    color: var(--white);
}

.container#contacts > .contacts-container > .contacts-text > .reach-out:hover {
    background-color: #f5a7cb;
}

.container#contacts > .contacts-container > .contacts-text > .reach-out > .cpy-email {
    margin-left: 5%;
}


/* Anchor CSS */
.anchor {
    text-decoration: none;
    transition: color 0.2s ease;
    color: var(--dark-grey);
}


/* Handling mobile responsiveness */
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) { }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) { }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) { }

/* Extra Small Devices, Phones */ 
@media only screen and (max-width: 480px) {
    
}

/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) { }