// CSS File for React.js components
// Container.js react component
.twocol-container {
    display: grid;

    &#intro {
        p {
            padding: 15px 5px;
        }
    }
}


// HugeTitle.js react component
.huge-title {
    font-family: 'AvertaBold';
    font-size: 5vw;
    line-height: 5.5vw;

    &.transparent {
        -webkit-text-stroke: 1px #CECAE3;
        color: rgba($color: #000000, $alpha: 0.0);
    }
}


// Subtitle.js react component
.subtitle {
    font-family: 'AvertaBold';
    font-size: 26px;
}


// Anchor.js react component
.anchor {
    margin-left: 30px;
    text-decoration: none;
    font-family: 'AvertaBold';
    font-size: 1.8rem;
    color: var(--dark-grey);
    text-decoration: none;
    font-size: 0.95rem;
}


// CaseStudyWrapper.js react component
.case-study-wrapper {
    margin: 5% 0;
    text-decoration: none;
    color: var(--white);
    border-top: 1px solid var(--mid-purple);
    border-bottom: 1px solid var(--mid-purple);

    video {
        width: 100%;
    }

    .cs-content {
        padding: 5% 10%;
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) { }

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {
    
}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) { }

// Custom, iPhone Retina
@media only screen and (max-width : 320px) { }