// SCSS file for custom cursor component.
.inner-cursor {
    position: fixed;
    left: 10px;
    width: 15px;
    height: 15px;
    transform: translate(-50%, -50%);
    border-radius: 50%;
    pointer-events: none;
    mix-blend-mode: difference;
    background-color: var(--white);
    transition: width 0.5s, height 0.5s;

    &.grow {
        width: 35px;
        height: 35px;
        transition: width 0.5s, height 0.5s;
    }
}

.outer-cursor {
    position: fixed;
    left: 10px;
    width: 35px;
    height: 35px;
    transform: translate(-50%, -50%);
    border: 1px solid var(--black);
    border-radius: 50%;
    pointer-events: 0.1ms;
    transition: 0.1s;
}