// SCSS file for Home.js.
// Intro blob link: Resource: https://codepen.io/AdamDipinto/pen/pooMmro?editors=1100
.home {
    grid-column: 2;
    
    .intro {
        padding: 12% 0;
        
        .blob {
            position: relative;
            top: -20%;
            left: 60%;
            margin: 0 10px;
            width: 200px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
    
            // Animation for blob
            @keyframes animate {
                0% { transform: rotate(0deg); }
                100% { transform: rotate(360deg); }
            }
            
            @keyframes animate2 {
                0% { transform: rotate(360deg); }
                100% { transform: rotate(0deg); }
            }
    
            span:nth-child(1) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid var(--black);
                border-radius: 32% 58% 69% 43% / 48% 32% 59% 55%;
                transition: 0.5s;
                animation: animate 6s linear infinite;
            }
    
            span:nth-child(2) {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                border: 2px solid var(--black);
                border-radius: 38% 62% 63% 37% / 41% 44% 56% 59%;
                transition: 0.5s;
                animation: animate2 4s linear infinite;
            }
            
            &.blob-inner {
                &:hover span:nth-child(1) {
                    border: none;
                    background: var(--orange);
                }
    
                &:hover span:nth-child(2) {
                    border: none;
                    background: var(--purple);
                }
            }
        } 
    
    
        
        
        .content {
            position: relative;
            padding: 40px 60px;
            color: #fff;
            text-align: center;
            text-decoration: none;
            transition: 0.5s;
            z-index: 1000;
            color: var(--black);
    
            a {
                position: relative;
                display: inline-block;
                margin-top: 10px;
                border: 2px solid #fff;
                padding: 6px 18px;
                color: #fff;
                font-weight: 600;
                border-radius: 73% 27% 44% 56% / 49% 44% 56% 51%;
            }
    
            &:hover {
                color: var(--white);
            }
        }
    }
}





// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}