// SCSS file for Layout.js.
.app-container {
    display: grid;
    grid-template-columns: 1fr 1.5fr 1fr;
    background-color: var(--white-purple);

    .empty-container {
        height: 15vh;
        grid-row: 1;
    }

    .topnav-container {
        position: fixed;
        z-index: 999;
        width: 100vw;
        height: 15vh;
        padding: 0 5%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    
        .home-button {
            a {
                display: flex;
                text-decoration: none;
                font-family: 'Averta';
                color: var(--black);

                p { font-size: 22px !important; }
    
                .j {
                    margin-right: 20px;
                    font-family: 'AvertaBold';
                    color: var(--purple);
                }
            }
        }
    
        .topnav-menu {
            display: flex;
    
            a {
                margin-right: 15px;
                text-decoration: none;
                font-family: 'Averta';
                color: var(--purple);
            }
        }
    }

    .sidenav-container {
        position: fixed;
        display: block;
        padding-left: 5%;
        top: 55%;
        transform: translate(0px, 0px);
        background-color: transparent;

        ul {
            margin: 0;
            padding: 0;
            transform: rotate(-90deg);
            white-space: nowrap;
            list-style: none;
            -webkit-transform-origin: 0 61%;
            background-color: transparent;

            li {
                display: inline-block;
                margin-right: 30px;

                a {
                    font-family: 'AvertaBold';
                    text-decoration: none;
                    color: var(--purple);
                }
            }
        }
    }

    .botnav-container {
        height: 40vh;
        grid-row: 20;
        grid-column: 2;
        display: flex;
        justify-content: center;
        align-items: center;

        .contacts-container {
            display: grid;
            grid-template-columns: 50% 30%;
            grid-column-gap: 20%;

            .blob2 {
                width: 200px;
                height: 200px;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 40% 60% 70% 30% / 40% 50% 60% 50%;
                background-color: var(--purple);
                animation: morph 3s linear infinite;
                font-family: 'Averta';
                font-size: 1.5rem;

                a {
                    color: var(--white);
                }
            }

            @keyframes morph{
                0%, 100% { border-radius: 40% 60% 70% 30% / 40% 40% 60% 50%; }
                34% { border-radius: 70% 30% 50% 50% / 30% 30% 70% 70%; }
                67% { border-radius: 100% 60% 60% 100% / 100% 100% 60% 60%; }
            }
        }
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {
    .app-container {
        grid-template-columns: 1fr 4fr 1fr;
        .topnav-container { grid-template-columns: 1fr 4fr 1fr; }
    }
}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}