// SCSS file for simple_showcase.js component.
.showcase-container {
    padding: 5vh 25%;

    .project-name {
        padding-bottom: 15px;
        font-family: 'AvertaBold';
    }

    .tags {
        padding-bottom: 20px;
        span { margin-right: 25px; }
    }

    .showcase-vid, .showcase-image { width: 100%; }

    p {
        font-size: 16px;
        font-style: italic;
    }
}


// Handling mobile responsiveness
// Large Devices, Wide Screens
@media only screen and (max-width: 1200px) {}

// Medium Devices, Desktops
@media only screen and (max-width: 992px) {}

// Small Devices, Tablets
@media only screen and (max-width: 768px) {}

// Extra Small Devices, Phones 
@media only screen and (max-width: 480px) {}

// Custom, iPhone Retina
@media only screen and (max-width : 320px) {}