// CSS for React component: WorkExperienceWrapper.js
// Work Experience Wrapper CSS
.exp-wrapper {
    border-top: 2px solid var(--dark-grey);
    padding: 10px 0;

    // Custom layouts for different work experiences
    :nth-child(1) > .exp-content {
        grid-row: 1;
        grid-column: 1;
    }

    :nth-child(1) > .exp-video {
        grid-row: 1;
        grid-column: 1;
    }

    .exp-image {
        max-width: 100%;
        max-height: 100%;
        object-fit: contain;
    }

    .exp-video {
        width: 100%;
    }

    .exp-content-title-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        .exp-content-title {
            font-family: 'InterBold';
            font-size: var(--p-small);
            color: var(--dark-grey);
        }

        a {
            font-size: var(--p-large);
            color: var(--dark-grey);
        }
    }

    .exp-content {
        padding: 1% 0;

        p { font-size: var(--p-small); }
    }
}


// Arrow symbol that activates when .exp-link is hovered
.arrow {
    margin-left: 20px;
    transition: all .5s ease;
    visibility: hidden;
    opacity: 0;
    color: var(--dark-grey);
}